discord_webhook
requests
discord.py
discord
selenium
beautifulsoup4
Pillow
PyAutoGUI
pyinstaller
emoji
httpx
lxml
aiohttp>=3.10.11 # not directly required, pinned by Snyk to avoid a vulnerability
